.btn{
    float: right;
    font-size: 16px;
}

.navbar{
    width: 75%;
    margin-left: 25%;
    border-bottom: inset;
}
img{
    height: 50px;

}
#channelname{
    font-size: 20px;
    margin-left: 5%;
    color: blue;
}