<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">#{{navbar}}</a>
  <form class="form-inline">
    <span class="glyphicon glyphicon-earphone"></span>
    <span class="glyphicon glyphicon-info-sign"></span>
    <span class="glyphicon glyphicon-cog"></span>
    <i class="glyphicon glyphicon-search" id="Search"></i>
    <input class="form-control mr-sm-2" type="search" placeholder="       Search" aria-label="Search" aria-describedby="Search">
     <span> @</span>
     <span class="glyphicon glyphicon-star-empty"></span>
     <span class="glyphicon glyphicon-option-vertical" ></span>
  </form>
</nav>