.navbar{
    width: 73%;
    margin-left: 27%;
    overflow: hidden;
    margin-bottom: 20px;

}
.form-inline {
    width: 90%;
    display: inline;
}

input[type=text] {
    width: 80%;
    border-radius: 5px;   
    border: ridge;
    border-width: 0.5px;
}
.btn {
    width: 10%;
    float: right;
    margin-right: 5%;
    
}

 
