.navbar{
    width: 73%;
    margin-left: 27%;
    overflow: hidden;
}
.form-inline {
    width: 100%;
}
.input-group{
width: 90%;
margin-left: 5%;
}
input{
    border-radius: 5px;
    border: ridge;
    border-width: 0.5px;
}
.input-group-prepend{
    position: absolute;
    width: 5%;
    height: 35px;
    margin-left: -5%;
    border: ridge;
    border-width: 0.5px;
    border-radius: 5px;
    
}
span{
    margin-left: 10px;
    margin-top: 7px;
}