 <div class="ChannelRoom">
    <div class="UserDetail">
        <h1>{{name}}</h1>
        <span class="glyphicon glyphicon-bell"></span>
    </div>
    <div class="Channel">
        <h1>Channels</h1>
        <span class="glyphicon glyphicon-plus-sign" (click)="add()"></span>
      <i *ngIf="checkadd">  <button (click)="Create()">Add</button> <input type="search" name="search" [(ngModel)]="search"/></i>
        <div *ngFor="let channelName of channelList ">
            <label></label>
            <i (click) ="showMessage(channelName)">#{{channelName.unique_name}} <i (click)="join(channelName)">join</i></i>
            <label></label>
        </div>
     </div>
    <div class="directMessage">
        <h1>Direct Message</h1>
        <span class="glyphicon glyphicon-plus-sign"></span>
    </div>
    
</div>
