.ChannelRoom {
    position: absolute;
    margin-top: -80px;
    height: 690px;
    width: 25%;
    background-color: rgb(71, 35, 64);
    color: gray;
    overflow: hidden;
}
.glyphicon{
    font-size: 20px;
    cursor: pointer;
}
span{
    color:white;
    float: right;
    margin-top: -45px;
    margin-right: 15px;
}
.UserDetail{
color: white;
height: 20%;
}
.directMessage{
    overflow: hidden;

}
.Channel{
    height: 40%;
    overflow: hidden;
}
input,button{
    float: right;
    margin-right: 20px;
    border: groove;
    border-radius: 5px;
}
i{
    font-size: 16px;
    margin-left: 20px;margin-bottom: 2px;
}
#join{
    margin-left:  50%;
}