.show{
    width: 73%;
    margin-left: 27%;
    height: 531px;
    overflow:auto;
}
.alert-success{
   float: right;
}
.alert {
    width: 51%;
}
#color{
    background-color: rgb(243, 160, 105);
    float: left;
}