.show{
    width: 73%;
    margin-left: 27%;
    height: 531px;
    overflow:auto;
}
.alert-success{
   float: right;
   
}
.alert{
    width: 51%;
    max-width: 51%;
    word-wrap: break-word;
}
#color{
    background-color: rgb(243, 160, 105);
    float: left;
}